*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 3%;
    flex-direction: column;
}
h3{
    padding-bottom: 5%;
}

.bigger-container{
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 50%;
    
}
.container{
display: flex;
 flex-direction: row;
 gap: 30%;
 width: 50%;
}
.nav-container{
    display: flex;
    flex-direction: column;
    gap: 10%;
    margin-right: 20%;
    
}
.nav-container button,
.bookListcancel{
    color: gray;
    overflow:hidden;
    width: 100px;
    padding: 5%;
    border: 1px gray solid;
    background-color: rgb(91, 56, 245);
    color: rgb(252, 252, 252);
}
.bookListcancel{
    padding: 5px;
}

#addDialog{

    flex-direction: column;
    gap: 5px;
    
}
#addDialog input{
    padding: 2%;
    border: 0.2px solid rgb(194, 194, 194);
    border-radius: 10px;
    outline: none;
}
#addDialog input:focus{
    border: 1px solid rgb(255, 255, 255);
}

button:hover{
    cursor: pointer;
}

.book-row{
    display: flex;
    justify-content: space-evenly;
}
.book-row button{
    color: rgb(255, 0, 0);
    padding: 1%;
    width: 8%;
    border: none;
    background-color: white;
}
#addDialog #submit{
    color: rgb(255, 255, 255);
    background-color: green;
    border: none;
    padding: 2%;
    border-radius: 10px;
}
#addDialog #cancel{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 125, 125);
    border: none;
    padding: 2%;
    border-radius: 10px;
}
.read-status-div label{
    color: gray;
}

.bookName,
.author,
.pages,
.readStatus
{
    color: green;
}
.addedBookNameDiv,
.addedBookAuthorDiv,
.addedBookPagesDiv,
.addedBookReadStatus{
    color: rgb(96, 96, 96);
    display: flex;

}
    

dialog {
  border: none;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  width: 90%;
  max-width: 500px;
  
}
.upper-dialog-cont{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5%;
}

.userAddedBookName{
    color: green;
}